body {
	background-image: url('../img/cielo.jpg');
}
input:focus, input:active{
	outline: 2px solid #025bcb;
}
.formulario select:focus, .formulario select:active {
    outline: 2px solid #025bcb;
}
.logo {
    background-color: #025bcb;
}
.menu ul li a:hover, .menu ul li a.active{
	background-color: #025bcb;;

}
article a{
    background-color: #025bcb;

}
.formulario input[type="submit"] {
   background-color: #025bcb;
}
.subir {
    background-color: #025bcb;
}
.calendar {
    background-color: #025bcb;
}
footer{
	background-color: rgb(2 91 203 / 85%);
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid #02408f;
    background: #025bcb;
}
.formulario select {
    background-image: url("data:image/svg+xml,%3Csvg width='16px' height='16px' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23025bcb' fill-rule='evenodd' d='M7.29289,10.7071 C7.68342,11.0976 8.31658,11.0976 8.70711,10.7071 L11.7071,7.70711 C12.0976,7.31658 12.0976,6.68342 11.7071,6.29289 C11.3166,5.90237 10.6834,5.90237 10.2929,6.29289 L8,8.58579 L5.70711,6.29289 C5.31658,5.90237 4.68342,5.90237 4.29289,6.29289 C3.90237,6.68342 3.90237,7.31658 4.29289,7.70711 L7.29289,10.7071 Z'/%3E%3C/svg%3E");
}